/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10/05/2019, 10:48:45 AM
    Author     : mmendoza
*/

* {
    margin: 0;
    padding: 0;                
}

.products-title {
    font-size: 30px;
    color: #072146;
}

.message-01 {
    font-size: 20px;
    color: gray;    
}

#compras-table{
    padding: 10px;
}

.btn-new{
    width: auto;
    padding: 10px;
    background: #02a5a5;
    color: white;
    border: 1px solid #02a5a5;
}

.content-body{
    padding: 10px;
}