/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10/05/2019, 10:48:45 AM
    Author     : mmendoza
*/

* {
    margin: 0;
    padding: 0;                
}

body{
    width: 100%;
    height: 100%;
    font-weight: 100;                
}

html{
    height: 100%;                
}

.login-box{
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid silver;
    width: 30%;
    margin: auto;
    padding: 2%;
    background: white;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 48px 9px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 48px 9px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 48px 9px rgba(0,0,0,0.75);    
}

h1, h2, h3, h4, h5{
    font-family: sans-serif;
    font-weight: 100;
}

.login-box input{
    padding: 2%;
    margin: 0;
    margin-top: 5px;
    width: -webkit-fill-available;
    width: -moz-available;
    font-size: 15px;
    color: gray;
    font-weight: 100;
    border: 1px solid silver;
    border-radius: 5px;
}

.form-login{
    margin-top: 15px;
    margin-bottom: 15px;
}

.login-box button{
    width: 100%;
    font-size: 15px;
    border-radius: 5px;
}

.btn-primary{
    background: #004481;
    border: 1px solid #004481;
    color: white;
    padding: 7px;
    margin-bottom: 5px;
}

.btn-primary:hover{
    background: white;
    color: #004481;
    border: 1px solid #004481;
}

.btn-secondary{
    color: white;
    background: gray;
    border: 1px solid gray;
    padding: 7px;
}

.btn-secondary:hover{
    background: #ebebeb;
    color: gray;
}

.error-login{
    padding: 10px;
    background: red;
    background: #FF6E6E;
    border-radius: 5px;
    margin-top: 5px;
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: -10px;
}